doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title snakeDuel
        link(rel="stylesheet", href="../public/css/style.css")
    body 
        div#welcome
            h1 snakeDuel
            form.joinForm
                input(type="text", placeholder="enter room name", required)
                button Join room
            ul#roomList
        div#gameBoard
            canvas#bgCanvas
            canvas#gameCanvas
            h3.joinedRoom
            h4.message
            h4.score
            div.btns
                form.readyForm
                    button Ready
                form.leaveForm
                    button Leave
        
        script(src="/socket.io/socket.io.js") 
        script(src="../public/js/snakeDuel.js") 